name: Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Build (Debug)
      run: make build -j
    - name: Build (Release)
      run: make clean && make build -j RELEASE=true
    - name: Build (Release, Aggressive optimize)
      run: make clean && make build -j RELEASE=true AGGRESSIVE_OPTIMIZE=true
    - name: Test
      run: make clean && make build test -j